<div class="mb-4 text-center">
    <a asp-controller="Records" asp-action="Create" class="btn btn-success ">Create</a>
    <form asp-controller="Search" asp-action="Result" class="form-inline d-sm-inline-block">
        <input name="input" class="form-control" type="search" placeholder="Search" aria-label="Search" value="">
        <button class="btn btn-outline-primary my-2 my-0" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>
